<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">Projects List</h2>
  <a
    routerLink="/register-student"
    class="btn btn-success"
    *ngIf="hideWhenNoProject"
  >
    Add Project
  </a>
</div>

<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No project" />
  </div>

  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-project.svg" class="nodata-msg" alt="No project" />
    <p class="nodata-msg">No Project added yet!</p>
    <a routerLink="/register-project" class="btn btn-success"> Add Project </a>
  </div>

  <div class="table-responsive" *ngIf="hideWhenNoProject">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          <th scope="col">Project Id</th>
          <th scope="col">Project name</th>
          <th scope="col">Owner Email</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let project of Project
              | paginate: { itemsPerPage: 8, currentPage: p };
            let i = index
          "
        >
          <th scope="row">{{ project.$key }}</th>
          <td>{{ project.projectName }}</td>
          <td>{{ project.ownerEmail }}</td>
          <td class="text-center action-block">
            <span
              class="mr-2 btn btn-outline-primary btn-sm"
              routerLink="/edit-project/{{ project.$key }}"
              >Edit</span
            >
            <span
              class="btn btn-outline-danger btn-sm"
              (click)="deleteProject(project)"
              >Delete</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>